@import "./utils/variables";
@import "./components/container";
@import "./components/logo";
@import "./components/header";
@import "./components/navigation";
@import "./components/contact";
@import "./components/section-main";
@import "./components/btn";
@import "./components/article";
@import "./components/picture";
@import "./components/team";
@import "./components/clients";
@import "./components/buttons";
@import "./components/project";
@import "./components/footer";
@import "./components/modal";
