.container--clients {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.section__header--clients {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;

  &__item {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc((100% - 1 * 30px) / 2);
    margin: 0;
    padding: 0;

    &:focus-within svg,
    &:hover svg {
      fill: $brand-color-second;
      border-color: $brand-color-second;
    }

    &:focus .clients__logo,
    &:hover .clients__logo {
      fill: $brand-color-second;
    }

    & > a {
      width: 100%;
    }
  }

  &__logo {
    border: solid 1px #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    width: 100%;
    padding: 16px 32px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, border-color;
    display: block;
    flex-basis: calc((100% - 1 * 30px) / 2);
    // display: block;
    gap: 30px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 5 * 30px) / 6);
  }
}
