.container--clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__header--clients{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  }

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  

  &__logo {
    border: solid 1px #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    width: 170px;
    height: 92px;
    padding: 16px 32px 16px 32px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, border-color;
  }
  &__item {
    display: flex;
     flex-basis: calc((100% - 1 * 30px) / 2);
     width: 210px;
     height: 92px;
     margin: 0;
     padding: 0;
     
    // align-items: center;
    // justify-content: center;

    &:focus-within svg,
    &:hover svg {
      fill: $brand-color-second;
      border-color: $brand-color-second;
    }

    &:focus .clients__logo,
    &:hover .clients__logo {
      fill: $brand-color-second;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
     flex-basis: calc((100% - 2 * 30px) / 3);}
}

@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    flex-direction: row;
  }
  .clients__item {
     flex-basis: calc((100% - 5 * 30px) / 6);}
}