.logo--footer {
  color: $brand-color-third;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 0;
}
.address {
  color: $brand-color-third;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}

.footer {
  background-color: $brand-color-first;
  min-height: 252px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
  }
  &__studio {
    margin-top: 60px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  &__contact {
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;

    &:hover,
    &:focus {
      color: $brand-color-second;
    }
  }

  &__header {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-top: 72px;
    font-size: 14px;
    color: $brand-color-third;
  }
  &__social-icons {
    display: flex;
    gap: 10px;
    margin-left: 70px;
    padding: 0;
  }
  &__social-links {
    fill: #afb1b8;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    gap: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill;

    &:focus-within,
    &:hover {
      fill: $brand-color-third;
      background-color: $brand-color-second;
    }
  }

  &__sign-up {
    margin-left: auto;

    & input {
      background-color: $brand-color-first;
      color: rgba(255, 255, 255, 0.6);
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &__email-input {
    padding-left: 16px;
    margin: 0;
  }
}

.social-icon--footer {
  fill: $brand-color-third;
}

label[for="sign-up"] {
  display: block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  color: $brand-color-third;
  margin-top: 72px;
  margin-bottom: 20px;
}
.btn--signup {
  margin-left: 12px;
  margin-bottom: 94px;
  margin-top: 0;
  padding: 10px 24px 10px 42px;
  display: inline-flex;
  position: relative;
}

.icon-send {
  fill: $brand-color-third;
  margin-left: 24px;
  position: absolute;
  right: 28px;
  top: 10px;
}
