.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;

  &__container {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.logo--header {
  color: #000000;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
